<header [ngClass]="(isUserLogged())?'':'center'">
  <img src="./assets/images/logo1.png" class="imgLogo" routerLink="/home">

  <div class="options" *ngIf="isUserLogged()">
    <button routerLink="/list-posts">Posts</button>
    <button routerLink="/navigation/reports">Reports</button>
    <span></span>
    <button  routerLink="/navigation/add-post" style="background: #67A1DB; margin-right: 20px">Make Post</button>
    <img src="./assets/images/imgUser.png" id="imgUser" (click)="MyProfile()">
  </div>
</header>

